[submodule "temportal-engine"]
	path = temportal-engine
	url = git@github.com:temportalflux/TemportalEngine.git
[submodule "crates/socknet"]
	path = crates/socknet
	url = git@github.com:temportalflux/socknet.git
[submodule "concepts"]
	path = concepts
	url = git@github.com:temportalflux/crystal-sphinx.git
