asset-type "render-pass"

attachments \
	"crystal-sphinx:render_pass/frame_image" \
	"crystal-sphinx:render_pass/depth_image"

// An ordered list of subpasses that are processed in the render pass
subpasses {
	world "crystal-sphinx:render_pass/world_subpass"
	debug "crystal-sphinx:render_pass/debug_subpass"
	ui "crystal-sphinx:render_pass/ui_subpass"
	egui "crystal-sphinx:render_pass/egui_subpass"
}

dependencies {
	link {
		first {
			stage (PipelineStage)"ColorAttachmentOutput"
			stage (PipelineStage)"EarlyFragmentTests"
		}
		then "world" {
			stage (PipelineStage)"ColorAttachmentOutput"
			stage (PipelineStage)"EarlyFragmentTests"
			access (Access)"ColorAttachmentWrite"
			access (Access)"DepthStencilAttachmentWrite"
		}
	}
	link {
		first "world" {
			stage (PipelineStage)"ColorAttachmentOutput"
			stage (PipelineStage)"EarlyFragmentTests"
			access (Access)"ColorAttachmentWrite"
		}
		then "debug" {
			stage (PipelineStage)"ColorAttachmentOutput"
			stage (PipelineStage)"EarlyFragmentTests"
			access (Access)"ColorAttachmentWrite"
			access (Access)"DepthStencilAttachmentRead"
		}
	}
	link {
		first "debug" {
			stage "ColorAttachmentOutput"
			access "ColorAttachmentWrite"
		}
		then "ui" {
			stage "ColorAttachmentOutput"
			access "ColorAttachmentWrite"
		}
	}
	link {
		first "ui" {
			stage "ColorAttachmentOutput"
			access "ColorAttachmentWrite"
		}
		then "egui" {
			stage "ColorAttachmentOutput"
			access "ColorAttachmentWrite"
		}
	}
}
